<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
 	<button class="button" ng-click="onClickToday">Today</button>&nbsp&nbsp 	
	<button class="button" ng-click="previousDay()"><</button>
	<button class="button mrgleft-5" ng-click="nextDay()">></button>&nbsp&nbsp
	<span>19 Feb,2015</span>
	<!-- <div class="calendar-list-container">
		<div class="parent-event-container">
			<div class="event-time">8 AM</div>
			<div class="event-container">
				
			</div>
		</div>					
		<div class="parent-event-container">
			<div class="event-time">8 AM</div>
			<div class="event-container">
				
			</div>
		</div>					
	</div> -->

	<div class="calendar-list-container">
		<div class="event-time-container">
			<div class="event-time">
				8 AM
			</div>	
			<div class="event-time">
				9 AM
			</div>	
		</div>
		<div class="event-container">
			<div class="event">
				event 1
			</div>	
			<div class="event">
				event 2
			</div>	
		</div>		
	</div>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>